<ion-header>
  <ion-navbar>
    <ion-title>
      <h1>NarrEator</h1>
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <div>
    <ion-list>
      <ion-item *ngFor="let menu of menus" (click)="menuSelected(menu)">
        {{menu.title}}
      </ion-item>
    </ion-list>
  </div>

  <div *ngIf="!currentUser()">
    <ion-card>
      <ion-card-header>
       Welcome to NarrEator
      </ion-card-header>
      <ion-card-content>
       Give NarrEator a try by pressing the take picture button below to capture an image of your desired menu. NarrEator will begin reading the menu back to you momentarily.
      </ion-card-content>
    </ion-card>
    <div>
     <button large class="camera-button"(click)="CamCont.takePicture()">
        <ion-icon name="camera"></ion-icon>
        Take a picture!
      </button>
    </div>
  </div>

</ion-content>
