

  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center blue-grey-text text-lighten-3">Dining Experience Brought to Light</h1>
        <div class="row center">
          <h5 class="header col s12 light">Helping the visually impaired enjoy the simple pleasures of a dining experience with their phone.</h5>
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="/images/black-wallpaper.jpg" alt="Unsplashed background img 1"></div>
  </div>


  <div class="container">
    <div class="section">


      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">picture_in_picture</i></h2>
            <h5 class="center">Click</h5>

            <p class="light">Our mobile application allows users to take a picture of a restaurant menu. The picture is then converted to a format that is easily readable by artifical inteligence.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">voicemail</i></h2>
            <h5 class="center">Narrate</h5>

            <p class="light">After taking a picture you can then hear the menu through the speakers on your phone. Our app will formate the menu in a way that it will allow you to enjoy the simple pleasures of pondering on the food you would like to eat, with no preasure of remembering the menu or making a decision on the spot.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">perm_identity</i></h2>
            <h5 class="center">Enjoy</h5>

            <p class="light">Take your time figuring out what you would like to enjoy for your meal with no preasure. The simple pleasure of life at the tip of your fingers.</p>
          </div>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">the developers at NarrEatR used their passions to create an app to help make life easier for the visually impaired.</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="/images/black-wallpaper.jpg" alt="Unsplashed background img 2"></div>
  </div>

  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>Our Mission</h4>
          <p class="left-align light">Ben Newman was inspired to create NarrEatR after attending a local tech meet up group called Chi HackNight. This meet up group brings together local developers and aspiring developers to use their skills and knowledge to develop beautiful and meaningful applications to enrich the human experience through technology. Ben sought out developers with disabilities and curiously inquired about technologies that believe would make their lives easier.
          <br> 
          Visiting a restaurant may seem like an ordinary experience to most, but to some it can be only be enjoyed with the assistance of someone else accompanying them to read them their options. NarrEatR allows you to take a picture of your menu and use your phone text to speech to hear your menu from your phone speakers or headphones. This mobile application was created to ensure everyone can enjoy a simple dining experience without the worry of having someone reading you the options. NarrEatR gives your the freedom and independance to treat yourself, alone. 
          </p>
        </div>
      </div>

    </div>
  </div>




  <footer class="page-footer blue-grey">
    <div class="footer-copyright">
      <div class="container">
        Made by Created by: Ben Newman, Erica Brotherton, David Armbrust, Stephen Fang, and Sohel Bootwala
      </div>
    </div>
  </footer>


